@import url('./normalize.css');

body {
    font-size: 200%;
    color: #FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
*
{transition: all .1s ease-in;
}
.container {
    width: 1440px;
    height: 900px;
    border: 25px solid #2B81AC;
    background:#3399CC;
    margin: 0 auto;
    padding: 0 auto;
}
.title {
    width: 263px;
    height: 34px;
    margin-top: 60px;
    margin-bottom: 35px;
    margin-left: 135px;
}
.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    color:#FFFFFF ;
    padding: 16px 8px;
}
.icon {
    float: right;
}
.weather_table {
    width: 1170px;
    height: 592px;
    border: 4px solid #FFFFFF;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin-left: 135px;
    
}

.cities_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cities_item_full,
.cities_item_half,
.cities_item_quarter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 25%;
    box-sizing: border-box;
    opacity: 0.7;
    text-align: center;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.cities_item_full {
    width: 100%;
}

.cities_item_half {
    width: 50%;
}

.cities_item_quarter {
    width: 25%;
}
.city_1 {
    
    background: #75c5ec;
    border: 2px solid #FFFFFF;
}
.city_2 {
    
    background: #33CCCC;
    border: 2px solid #FFFFFF;
}
.city_3 {
    
    background: #996699;
    border: 2px solid #FFFFFF;
}
.city_4 {
    
    background: #C24747;
    border: 2px solid #FFFFFF;
}
.city_5 {
    background: #E2674A;
    border: 2px solid #FFFFFF;
}
.city_6 {
    
    background: #FFCC66;
    border: 2px solid #FFFFFF; 
}
.city_7 {
    background: #99CC99;
    border: 2px solid #FFFFFF;
    
}
.city_8 {
    background: #669999;
    border: 2px solid #FFFFFF; 
}
.city_9 {
     background: #CC6699;
    border: 2px solid #FFFFFF;
}
.city_10 {
    
    background: #339966;
    border: 2px solid #FFFFFF;
}
.city_11 {
    
    background: #666699;
    border: 2px solid #FFFFFF;
    
}
i::before {
    font-size: 20px;
}
.text_block {
    margin-top: 26px;
    width: 80px;
    height: 94px; 
    word-wrap: break-word;
}

.footer {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-top: 50px;
}
